  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Long+Cang&display=swap');

  body {
      background: url('img/fondoA.gif') center/cover no-repeat fixed;
      background-color: #000;
      color: #fff;
      margin: 0;
      padding: 0;
      font-family: 'Long Cang';
      justify-content: center;
      align-items: center;
  }

  .navbar {
      margin-bottom: 20px;
  }

  .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 15px;
      background-color: #ffffff0c;
      backdrop-filter: blur(10px);
    }

.container iframe {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

  h1 {
    font-family:'Cinzel Decorative' ;
      font-size: 80px;
      margin-bottom: 10px;
  }

  h2 {
    text-align: center;
      font-size: 30px;
      margin-top: 3px;
      margin-bottom: 30px;
      font-family: 'Long Cang'
  }

  h3 {
    font-family:'Cinzel' ;
      text-align: center;
  }

  header {
      text-align: center;
   
  }
  p{
    text-align: center;
  }

  
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  .btn-custom {
    
    background-color: transparent;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
      color: #fff;
      border: 2px solid #fff;
      font-family: 'Long Cang'; 
  }
  .btn-custom a {
    text-decoration: none;
    color: inherit;
}
  .btn-custom:hover {
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
  }

  .back-to-top {
      position: fixed;
      bottom: 10px;
      right: 10px;
      font-size: 1.5em;
      color: #fff;
      border: 2px solid #fff;
      background-color: #33333300;
      padding: 10px;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }

  .back-to-top:hover {
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
  }

  .edit {
      text-align: center;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
}
  .card-section {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin: 10px; 
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 40px;
    }
}


html {
    scroll-behavior: smooth;
}

